{% extends 'base.html'%}

{%block title%} About {%endblock title%}

{% block body %} 


<div style="position: relative; width: 900px;" class="container">
    <h2 style="text-shadow:rgb(16, 252, 16); text-decoration-line:underline" class="my-3">About Us</h2>
    <hr>
    <br>
    
    <p style="font-size:x-large" >As Jude’s has grown, our ambitions for the impact that Jude’s can have in the world has grown exponentially. 
        We’ve dived deep into what gets us out of bed every morning, what we believe we can achieve together and how we want to be remembered. We’ve condensed this all into one simple driving purpose.To craft brilliant ice cream, you need brilliant people. They’re the most important ingredient. Jude’s has been a team effort from day one and we love working with both family and friends. <br>
         We’ve developed our craft over 15 years and have grown an incredibly talented team of ice cream makers.
        <br>
        We prioritise safety over everything else, which is paramount when operating in a dairy where we cook at high temperature and freeze at very low temperatures every day. We have policies in place to ensure that Jude’s is a fair, inclusive, diverse and flexible place to work.
        
        We want Jude’s to be the best place to work and will continue to improve wherever we can.
    </p>
</div>
<hr>
<div style="position: relative; width: 900px; height: 400px;"  class="container">
    <h2 style="text-shadow:rgb(22, 248, 22); text-decoration-line:underline" >Our Story</h2>
    <p style="font-size:x-large;" >The early 1960′s saw the company expand to Minden, where it opened a depot and its now famous dairy bar. Although the office and plant are in Bobcaygeon, to many cottagers and summer visitors the heart of Kawartha Dairy lies in Minden, where stopping for a cone is an essential part of summer. Today Kawartha Dairy operates 10 retail stores and services a wide range of wholesale customers, from retail outlets to foodservice establishments and of course, ice cream parlours. The company also provides custom production services to other food companies, using Kawartha’s expertise in the business to produce ice cream and other specialty dairy items to the exact specifications of these firms.</p>
</div>


<footer>
    <div class="d-block text-center my-8 bg-dark">
            <h5 class="text-white" >www.sweeticecreams.com</h5>
            <p class="text-white" >10 % Saturday and Sunday surcharge, 
                15 % Public holiday surcharge & also
                Open most public holidays</p>
            <div class="text-white">
            sweet@Icecreames.com
            </div>
    </div>
    </footer> 

{% endblock body %}
