	{% extends 'base.html'%}

	{% block body %} 

	<div class="container"><div id="carouselExampleIndicators" class="carousel slide">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
		<img src="static/images/82638.webp" class="d-block w-100" alt="img">
		</div>
		<div class="carousel-item">
		<img src="static/images/1279270.webp" class="d-block w-100" alt="img">
		</div>
		<div class="carousel-item">
		<img src="static/images/1840235.webp" class="d-block w-100" alt="img">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
	</div>
	</div>

	<div class="container my-4">
	  <h1 class="my-2 text-center text-lg-left"> Select Range of Icecreames</h1>

	    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
		  <div class="col">
		   <div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/1.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button"  class="btn btn-sm btn-outline-secondary">129/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/2.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">135/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/3.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">99/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>

		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/4.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">55/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/5.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">280/-</button>
				</div>
			
				
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/6.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">119/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>

		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/7.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">79/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/8.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">50/-</button>
				</div>
				
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/9.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
			<p class="card-text"> It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
				<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
				<button type="button" class="btn btn-sm btn-outline-secondary">100</button>
				</div>
			</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/10.jpeg" class="d-block w-100" alt="img">
				<div class="card-body">
					<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">120/-</button>
						</div>
					</div>
				</div>
		</div>
		</div>
			
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/11.jpeg" class="d-block w-100" alt="img">
			<div class="card-body">
				<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">99/-</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/12.jpeg" class="d-block w-100" alt="img">
				<div class="card-body">
				<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">90/-</button>
						</div>
					</div>
				</div>
		</div>
		</div>
														
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/13.jpeg" class="d-block w-100" alt="img">
				<div class="card-body">
				<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">59/-</button>
						</div>
					</div>
				</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/14.jpeg" class="d-block w-100" alt="img">
				<div class="card-body">
					<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">100/-</button>
						</div>
					</div>
				</div>
		</div>
		</div>
		<div class="col">
		<div class="card shadow-sm">
			<img class ="img-fluid img-thumbnail" src="static/images/15.jpeg" class="d-block w-100" alt="img">
				<div class="card-body">
					<p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						<button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
						<button type="button" class="btn btn-sm btn-outline-secondary">169/-</button>
						</div>
					</div>
				</div>
		</div>
		</div>
		<img class ="col my-5" src="static/images/extraimg2.jpg" class="w-900 h-600" alt="img">
		<div style=" width: 800px;" class="col d-block">
			<h1>Our Story</h1>
			<hr>
		<p style="font-size:xx-large;" class="px-5 mr-0">Our local patisserie team produce a range of seasonal traditional pastries and gateaux fresh for our stores, utilising a variety of techniques and crafts. Our chef’s continue to push the limits in creating classic and contemporary pastries for our stores. There is no doubt we at St. Louis are passionate about what we do. That’s why we’ll never compromise on quality at St. Louis.
		</p>
	</div>

		
<footer>
    <div style="width:35cm; " class="d-block text-center my-8 bg-dark">
            <h5 class="text-white" >www.sweeticecreams.com</h5>
            <p class="text-white" >10 % Saturday and Sunday surcharge, 
                15 % Public holiday surcharge & also
                Open most public holidays</p>
            <div class="text-white">
            sweet@Icecreames.com
            </div>
    </div>
</footer> 
{% endblock body %}        

