{% extends 'base.html'%}

{%block title%} Services {%endblock title%}
{% block body %} 

 <div class="container my-2">
    <h2 class="d-block justify-content-center my-2"> Our Services</h2>
 </div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/1.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">129/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/2.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">135/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/3.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">99/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/4.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">55/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/5.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">280/-</button>
            </div>
           
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/6.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" href="/order" >Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" href="/payment">119/-</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/7.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">79/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/8.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">50/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/9.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">79/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/10.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">67/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/11.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">189/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/12.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">99/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/13.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">129/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/14.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text">Our bakery is set up to cater specifically to the cake lover, our bakery is open to everyone but only the most special order.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">169/-</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img class ="img-fluid img-thumbnail" src="static/images/15.jpeg" class="d-block w-100" alt="img">
        <div class="card-body">
          <p class="card-text"> It would be great if our bakery can make you get your own cake because that's where our family comes from!</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">129</button>
            </div>
            

{% endblock body %}
